.nav-btns-box {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.question-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
}

.loading-box {
    height: 100vh;
    font-style: italic;
}

/* Want to apply horizontal scroll animation */