.question-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.loading-box {
    height: 100vh;
}

/* Want to apply horizontal scroll animation */